<h2>Your Dashboard</h2>
<h2>Welcome {{ username }}</h2>
<div class="container mt-4">
        <div class="card" >
            <div class="card-header">
                Create a Recipe
            </div>
            <div class="card-body">
        <form class="recipe-user">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>

              <div class="mb-3">
                <label for="youringredients" class="form-label">Ingredients</label>
              <div class="form-floating">
                <textarea class="form-control"  id="youringredients"></textarea>                
                </div>

                <div class="mb-3">
                <label for="yourinstructions" class="form-label">Instructions</label>
              <div class="form-floating">
                <textarea class="form-control"  id="yourinstructions"></textarea>                
                </div>
                
            </div>
            
            <button type="submit" class="btn btn-primary">post</button>
     </form>

     </div>

     
<div class="container mt-4">
  <div class="card" >
    <div class="card-body">
    <h5 class="card-title">Your projects:</h5>
    <p class="card-text">

  <!-- checking for posts from database and outputting to html-->
  {{#if recipes.length}}
  <div class="col-md-6 project-list">
   

    {{#each recipes as |userrecipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{userrecipe.title}}</h4>
      </div>
      
      <div class="col-md-2">
        <button id="delBtn" onclick="delButtonHandler(event)" class="btn btn-sm btn-danger" data-id="{{userrecipe.r_id}}">DELETE</button>
      </div>

      
      
    </div>
    {{/each}}
  </div>
  {{/if}}

    </p>
    
  </div>
</div>

      <script src="./js/postrecipe.js"></script>